# Mac
.DS_Store

# Windows
Thumbs.db

# WebStorm
.idea/

# vi
*~

# ext
out/
dist/
node_modules

# vscode
.vscode-test/

# Packages
*.vsix

# Ignore all .md files
*.md

# Exceptions: Do NOT ignore these specific files
!README.md
!CHANGELOG.md